<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 p-4">
      <div class="title">KAPCSOLAT</div>
      <div>
        <span>E-mail:</span>
        <a class="description" href="mailto: info@sweetfarm.hu">info@sweetfarm.hu</a>
      </div>
      <div>
        <span>Tel.:</span>
        <a class="description" href="tel:+36703765751">+3670-376-57-51</a>
      </div>
      <div class="title">ÁSZF</div>
      <div>
        <a class="description" href="/terms-and-conditions" target="_blank">A Sweet Farm Általános felhasználási feltételei</a>
      </div>
      <div class="title">MEGKÖZELÍTHETŐSÉG</div>
      <div class="description">
        Eger határától körülbelül másfél kilóméterre található egy csendes kis dombocskán, közel a természethez, csodálatos kilátással a városra.
        A Sweet Farm-ig egész évben és időjárástól függetlenül járható aszfaltozott "tipikus" rossz minőségű magyar út vezet az utolsó egy kilóméteren.
      </div>
    </div>
    <div class="col-12 col-md-6 p-4">
      <div class="title">TÉRKÉP</div>
      <iframe
        class="map"
        src="https://maps.google.com/maps?q=47.880152,20.362495&hl=es;z=14&amp;output=embed" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
