.row {
  width: 100%;
}

.col-xl-4 {
  max-width: 30rem;
}

.col-xl-8 {
  max-width: 60rem;
}

.checkbox {
  transform: scale(1.3);
  cursor: pointer;
}

label {
  font-size: large;
}

.button-label {
  font-size: large;
}

.error-message {
  color: red;
}

input::placeholder {
  text-align: right;
}
