.container-fluid {
  width: 100%;
}

@media (min-width: 768px) {
  .form-container {
    position: relative;
    height: 38rem;
  }
}

.row {
  width: 100%;
}

.left-side-flower-container {
  position: absolute;
  left: -7%;
  top: 72%;
  opacity: 35%;
  transform: scale(0.6);
}

.right-side-flower-container {
  position: absolute;
  right: -7%;
  top: 72%;
  opacity: 35%;
  transform: scale(0.6);
}
