.reservation-form-container {
  position: relative;
}

.container-fluid {
  width: 100%;
}

@media (min-width: 768px) {
  .reservation-steps-container {
    position: relative;
    height: 38rem;
  }
}

.row {
  width: 100%;
}
