::ng-deep.fully-reserved-dates {
  background: red;
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}

::ng-deep.fully-free-dates {
  background: darkolivegreen;
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}

::ng-deep.fully-selected-dates {
  background: rgba(255,69,00,0.6);
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}

::ng-deep.first-half-reserved-second-half-selected {
  background: linear-gradient(90deg, red 42%, rgba(255,69,00,0.6) 58%, rgba(255,69,00,0.6) 100%);
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}

::ng-deep.first-half-selected-second-half-reserved {
  background: linear-gradient(90deg, rgba(255,69,00,0.6) 0%, rgba(255,69,00,0.6) 42%, red 58%);
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}

::ng-deep.first-half-free-second-half-selected {
  background: linear-gradient(90deg, darkolivegreen 42%, rgba(255,69,00,0.6) 58%, rgba(255,69,00,0.6) 100%);
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}

::ng-deep.first-half-free-second-half-reserved {
  background: linear-gradient(90deg, darkolivegreen 42%, red 58%);
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}

::ng-deep.first-half-reserved-second-half-free {
  background: linear-gradient(90deg, red 42%, darkolivegreen 58%);
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}

::ng-deep.first-half-selected-second-half-free {
  background: linear-gradient(90deg, rgba(255,69,00,0.6) 0%, rgba(255,69,00,0.6) 42%, darkolivegreen 58%);
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
}
