::ng-deep.fully-reserved-dates {
  background: red;
  border-radius: 100%;
}

::ng-deep.fully-free-dates {
  background: darkolivegreen;
  border-radius: 100%;
}

::ng-deep.fully-selected-dates {
  background: rgb(100,50,237);
  opacity: 0.7;
  border-radius: 100%;
}

::ng-deep.first-half-reserved-second-half-selected {
  background: linear-gradient(90deg, red 42%, purple 58%, rgba(100,50,237,0.7) 98%);
  border-radius: 100%;
}

::ng-deep.first-half-selected-second-half-reserved {
  background: linear-gradient(90deg, rgba(100,50,237,0.7) 2%, purple 42%, red 58%);
  border-radius: 100%;
}

::ng-deep.first-half-free-second-half-selected {
  background: linear-gradient(90deg, darkolivegreen 42%, purple 58%, rgba(100,50,237,0.7) 98%);
  border-radius: 100%;
}

::ng-deep.first-half-free-second-half-reserved {
  background: linear-gradient(90deg, darkolivegreen 42%, red 58%);
  border-radius: 100%;
}

::ng-deep.first-half-reserved-second-half-free {
  background: linear-gradient(90deg, red 42%, darkolivegreen 58%);
  border-radius: 100%;
}

::ng-deep.first-half-selected-second-half-free {
  background: linear-gradient(90deg, rgba(100,50,237,0.7) 2%, purple 42%, darkolivegreen 58%);
  border-radius: 100%;
}
