<div class="container-fluid pt-3">
  <div class="row justify-content-between">
    <!--forward navigation button-->
    <div class="col-2">
      <button mat-raised-button color="accent" (click)="onReservationPhaseChange(3)" class="next-button">
        <span>Tovább</span>
        <img class="pl-2" src="../../../../assets/icon/next.svg">
      </button>
    </div>
  </div>
  <div class="row justify-content-center m-0 p-0">
    <div class="col-5 mr-2 selected-tab tab" (click)="onBedroomClick(1)">
      <div class="image-container pt-3">
        <img class="image" src="../../../../assets/house/house3.jpg">
      </div>
      <div class="label-container">
        <b class="label">Egy hálószobával kérem.</b>
      </div>
      <div class="radio-button-container">
        <button class="check-button">
          <img *ngIf="booking.numOfBedrooms == 1 || booking.numOfBedrooms == null"class="tick-img" src="assets/icon/tick.svg">
        </button>
      </div>
    </div>
    <div class="col-5 mr-2 selected-tab tab" (click)="onBedroomClick(2)">
      <div class="image-container pt-3">
        <img class="image" src="../../../../assets/house/house3.jpg">
      </div>
      <div class="label-container">
        <b class="label">Két hálószobával kérem.</b>
      </div>
      <div class="radio-button-container">
        <button class="check-button">
          <img *ngIf="booking.numOfBedrooms == 2" class="tick-img" src="assets/icon/tick.svg">
        </button>
      </div>
    </div>
  </div>
</div>
