<div class="container-fluid m-0 p-0 pt-4">
  <div class="row justify-content-center m-0 p-0">
    <!--selecting one bedroom-->
    <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 p-2 m-3 tab" (click)="onBedroomClick(1)">
      <div class="image-container pt-3">
        <img class="image" src="../../../../assets/house/house3.jpg">
      </div>
      <div class="label-container">
        <b class="label">Egy hálószobával kérem.</b>
      </div>
      <div class="radio-button-container">
        <button class="check-button">
          <img *ngIf="booking.numOfBedrooms == 1 || booking.numOfBedrooms == null"class="tick-img" src="assets/icon/tick.svg">
        </button>
      </div>
    </div>
    <!--selecting two bedrooms-->
    <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 p-2 m-3 tab" (click)="onBedroomClick(2)">
      <div class="image-container pt-3">
        <img class="image" src="../../../../assets/house/house3.jpg">
      </div>
      <div class="label-container">
        <b class="label">Két hálószobával kérem.</b>
      </div>
      <div class="radio-button-container">
        <button class="check-button">
          <img *ngIf="booking.numOfBedrooms == 2" class="tick-img" src="assets/icon/tick.svg">
        </button>
      </div>
    </div>
  </div>
  <!--forward navigation button-->
  <div class="row justify-content-center m-0 p-3 pb-5 pt-5">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 p-0 m-0" (click)="onReservationPhaseChange(3)">
      <button class="next-button p-2">
        <span class="button-label pl-3 pr-3"><b>Folytatás</b></span>
      </button>
    </div>
  </div>
</div>
