.container-fluid{
  width: 100%;
}

.row{
  width: 100%;
}

.col-xl-4{
  max-width: 30rem;
}

.tab{
  position: relative;
  height: 28rem;
  cursor: pointer;
  color: black;
  background-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(256, 69, 0, 0.4);
}

.tab:hover{
  filter: brightness(0.9) drop-shadow(2px 4px 6px black);
  transform: scale(1.05);
  transition-duration: 1s;
}

.image-container{
  text-align: center;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
}

.image{
  width: 100%;
  object-fit:cover;
  height: 20rem;
}

.label-container{
  position: relative;
  width: 100%;
  height: 3rem;
}

.label{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.radio-button-container{
  width: 100%;
  height: 3rem;
  position: relative;
}

.center-text{
  text-align: center;
}

.check-button{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 42px;
  border: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #ffffff;
}

.tick-img {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: orangered;
}

.next-button{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-align: center;
  background-color: orangered;
}

.next-button:hover{
  filter: brightness(0.9) drop-shadow(2px 4px 6px black);
  transform: scale(1.05);
  transition-duration: 1s;
}

.button-label{
  font-size: large;
}
