::ng-deep.fully-reserved-dates {
  background: red;
  border-radius: 100%;
}

::ng-deep.fully-free-dates {
  background: green;
  border-radius: 100%;
}

::ng-deep.fully-pending-dates {
  background: navajowhite;
  border-radius: 100%;
}

::ng-deep.fully-chosen-dates {
  background: purple;
  border-radius: 100%;
}

::ng-deep.first-half-pending-second-half-reserved {
  background: linear-gradient(90deg, lightsalmon 50%, red 50%);
  border-radius: 100%;
}

::ng-deep.first-half-reserved-second-half-chosen {
  background: linear-gradient(90deg, red 50%, purple 50%);
  border-radius: 100%;
}

::ng-deep.first-half-chosen-second-half-reserved {
  background: linear-gradient(90deg, purple 50%, red 50%);
  border-radius: 100%;
}

::ng-deep.first-half-free-second-half-chosen {
  background: linear-gradient(90deg, green 50%, purple 50%);
  border-radius: 100%;
}

::ng-deep.first-half-free-second-half-reserved {
  background: linear-gradient(90deg, green 50%, red 50%);
  border-radius: 100%;
}

::ng-deep.first-half-reserved-second-half-free {
  background: linear-gradient(90deg, red 50%, green 50%);
  border-radius: 100%;
}

::ng-deep.first-half-chosen-second-half-free {
  background: linear-gradient(90deg, purple 50%, green 50%);
  border-radius: 100%;
}
