.container-fluid {
  width: 100%;
  position: relative;
}

.row {
  width: 100%;
}

.h-center {
  text-align: center;
}

.price-text {
  font-size: large;
  line-height: 24px;
}

.title {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: orangered;
}

.flowers {
  position: relative;
  bottom: 28rem;
}
