<app-app-page-title [title]="'Áraink'" [imgPath]="'assets/icon/fah.jpg'"></app-app-page-title>

<ul class="prices">
  <li>Ennyi meg annyi embernek 10000Ft</li>
  <li>Ennyibe meg annyiba kerül, így meg úgy</li>
</ul>

<h1>
  Az ár tartalmazza:
</h1>

<ul class="prices">
  <li>
    <img src="../../../../assets/house/house1.png">
    Random dolgok ff zuhanyzó
  </li>
  <li>
    <img src="../../../../assets/house/house2.jpg">
    Random dolgok ff blabla
  </li>
  <li>
    <img src="../../../../assets/house/house3.jpg">
    Random dolgok ff szauna
  </li>
  <li>
    <img src="../../../../assets/house/house4.jpg">
    Random dolgok ff kandalló
  </li>
  <li>
    <img src="../../../../assets/house/house5.jpg">
    Random dolgok ff ingyenes parkolás
  </li>
  <li>
    <img src="../../../../assets/house/house6.jpg">
    Random dolgok ff satöbbi
  </li>
  <li>
    <img src="../../../../assets/house/house4.jpg">
    Valmi mások
  </li>
  <li>
    <img src="../../../../assets/house/house2.jpg">
    Kocsi parkolás
  </li>
  <li>
    <img src="../../../../assets/house/house1.png">
    Fűzfa
  </li>
  <li>
    <img src="../../../../assets/house/house6.jpg">
    Ez meg amaz
  </li>
  <li>
    <img src="../../../../assets/house/house2.jpg">
    Random dolgok ff
  </li>
  <li>
    <img src="../../../../assets/house/house1.png">
    Random asmkmda ad as d
  </li>
</ul>

<br>
