.headerpic {
  width: 100%;
  min-height: 30vh;
  height: auto;
}

.page-title-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  height: 30vh;
  width: 100%;
}

.headerText {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

@media (max-width: 576px) {
  .headerText {
    font-size: 40px;
  }
}
