.row{
  width: 100%;
}

.col-xl-4{
  max-width: 30rem;
}

.input-container{
  max-width: 4rem;
}

.image-container{
  text-align: center;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

.image{
  width: 100%;
  object-fit:cover;
  height: 40vh;
}

.num-of-people-container{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 2px;
  border-color: orangered;
  border-radius: 5px;
}

.num-of-people-label{
  float: right;
  font-size: large;
}

.button-label{
  font-size: large;
}

