<div class="row justify-content-center m-0 p-3">
  <!--selecting the number of children-->
  <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 p-3 m-0">
    <div class="num-of-people-container p-3">
      <div class="image-container">
        <img class="image" src="../../../assets/icon/children.svg">
      </div>
      <div class="row justify-content-center m-0 p-0 pt-0 pt-md-3">
        <div class="col-auto m-0 p-0">
          <label class="num-of-people-label p-0 m-0 pt-2 pr-2" for="numOfChildren">Gyerekek száma:</label>
        </div>
        <div class="col-auto p-0 m-0 input-container">
          <input
            #numOfChildren
            name="numOfChildren"
            type="number"
            min="0"
            step="1"
            max="4"
            id="numOfChildren"
            class="form-control"
            [ngModel]="booking.numOfChildren == null ? 0 : booking.numOfChildren"
            required>
        </div>
      </div>
    </div>
  </div>
  <!--selecting the number of adults-->
  <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 p-0 m-0 p-3">
    <div class="num-of-people-container p-3">
      <div class="image-container">
        <img class="image" src="../../../../assets/icon/adults.svg">
      </div>
      <div class="row justify-content-center p-0 m-0 pt-0 pt-md-3">
        <div class="col-auto p-0 m-0">
          <label class="num-of-people-label m-0 p-0 pt-2 pr-2" for="numOfAdults">Felnőttek száma:</label>
        </div>
        <div class="col-auto m-0 p-0 input-container">
          <input
            #numOfAdults
            name="numOfAdults"
            type="number"
            min="1"
            max="6"
            step="1"
            id="numOfAdults"
            class="form-control"
            [ngModel]="booking.numOfAdults == null ? 2 : booking.numOfAdults"
            required>
        </div>
      </div>
    </div>
  </div>
</div>
<!--forward navigation button-->
<div class="row justify-content-center absolute-position m-0 p-3">
  <div class="col-12 col-md-6 col-lg-5 col-xl-4 p-0 m-0" (click)="onReservationPhaseChange(2)">
    <button class="next-button p-2">
      <span class="button-label pl-3 pr-3"><b>Folytatás</b></span>
    </button>
  </div>
</div>

