<app-app-page-title [title]="'Gyakori kérdések'" [imgPath]="'assets/outside/11.jpeg'"></app-app-page-title>

<div class="container-fluid p-0 m-0">
  <div *ngFor="let faq of FAQs">
    <div class="row justify-content-center p-0 m-0">
      <div class="col-11 col-sm-10 col-md-9 col-lg-6 p-2">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{faq.question}}
          </mat-expansion-panel-header>
          <div class="answer">
            {{faq.answer}}
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>

  <!--first flower design to both sides-->
  <app-flowers-design></app-flowers-design>

  <!--second flower design to both sides-->
  <div class="second-flowers">
    <app-flowers-design></app-flowers-design>
  </div>
</div>

<app-footer></app-footer>
