<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="mb-5">
  <mat-tab-group mat-align-tabs="center" animationDuration="1500ms">
    <mat-tab label="First">
      <div class="container mt-4">
        <div class="row mb-5">
          <div class="col-4">
            <app-from-datepicker (dateChosen)="onFromDateChosen($event)"></app-from-datepicker>
          </div>
          <div class="col-4">
            <app-to-datepicker (dateChosen)="onToDateChosen($event)"></app-to-datepicker>
          </div>
          <div class="col-4">
            <div class="row mb-5">
              <label class="col-6 col-form-label" for="numOfChildren">Gyerekek száma:</label>
              <div class="col-3">
                <input
                  name="numOfChildren"
                  type="number"
                  min="0"
                  step="1"
                  max="4"
                  class="form-control"
                  id="numOfChildren"
                  [ngModel]="booking == null ? 0 : booking.numOfChildren"
                  required>
              </div>
            </div>
            <div class="row">
              <label class="col-6 col-form-label" for="numOfAdults">Felnőttek száma:</label>
              <div class="col-3">
                <input
                  name="numOfAdults"
                  type="number"
                  min="1"
                  max="6"
                  step="1"
                  class="form-control"
                  id="numOfAdults"
                  [ngModel]="booking == null ? 2 : booking.numOfAdults"
                  required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="container pt-4">
        <div class="row">
          <div class="col-8 mb-5">
            <span class="bedroom-question">Hány hálószobával szeretné kérni a faházat?</span>
          </div>
          <div class="col-6">
            <div class="card" style="width: 24rem; height: 24rem;">
              <div class="card-body">
                <h5 class="card-title">
                  <!--ide jöhet majd a leírás, cím stb -->
                </h5>
              </div>
              <img src="assets/house/house3.jpg" class="card-img-top">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="numOfBedrooms"
                        id="oneBedroom"
                        [ngModel] = "booking?.numOfBedrooms"
                        value="1">
                      <label class="form-check-label" for="oneBedroom">
                        Egy hálószobával kérem
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-6">
            <div class="card" style="width: 24rem; height: 24rem;">
              <div class="card-body">
                <h5 class="card-title">
                  <!--ide jöhet majd a leírás, cím stb -->
                </h5>
              </div>
              <img src="assets/house/house1.png" class="card-img-top">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="numOfBedrooms"
                        id="twoBedrooms"
                        value="2"
                        [ngModel] = "booking?.numOfBedrooms">
                      <label class="form-check-label" for="twoBedrooms">
                        Két hálószobával kérem
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!--   <label class="col-sm-2 col-form-label ml-4" for="numOfBedrooms">Hálószobák száma:</label>
           <div class="col-1">
             <input
               name="numOfBedrooms"
               type="number"
               min="1"
               max="2"
               step="1"
               class="form-control"
               id="numOfBedRooms"
               [ngModel]="booking == null ? 1 : booking.numOfBedrooms"
               required>
           </div>-->
      </div>
    </mat-tab>
    <mat-tab label="Third">
      <div class="container mt-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="lastName">Vezetéknév: </label>
          <div class="col-4">
            <input type="text"
                   name="lastName"
                   class="form-control"
                   id="lastName"
                   [ngModel] = "booking?.lastName"
                   required
                   placeholder="Nagy">
          </div>
          <label class="col-sm-2 col-form-label" for="firstName">Keresztnév: </label>
          <div class="col-4">
            <input
              name="firstName"
              type="text"
              class="form-control"
              id="firstName"
              placeholder="János"
              [ngModel]="booking?.firstName"
              required>
          </div>
        </div>
        <div class="form-group row mb-5">
          <label class="col-sm-2 col-form-label" for="tel">Telefonszám: </label>
          <div class="col-4">
            <input
              name="tel"
              type="text"
              class="form-control"
              id="tel"
              [ngModel]="booking?.tel"
              placeholder="06201236547"
              required>
          </div>
          <label class="col-sm-2 col-form-label" for="email">E-mail cím: </label>
          <div class="col-4">
            <input
              name="email"
              type="email"
              class="form-control"
              id="email"
              [ngModel]="booking?.email"
              placeholder="example@gmail.com"
              required>
          </div>
        </div>
        <div class="form-group row mb-5">
          <label for="comment" class="col-sm-2 col-form-label">Megjegyzés:</label>
          <textarea
            name="comment"
            id="comment"
            class="form-control col-10"
            [ngModel]="booking?.comment"
            rows="4">
        </textarea>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="container mb-4">
    <div class="row mb-4">
      <div class="col-10"></div>
      <button mat-raised-button color="primary" type="submit" class="col-2 mb-4" [disabled]="!f.valid">Megerősítés</button>
    </div>
  </div>
</form>
