.container-fluid {
  width: 100%;
  position: relative;
  padding-top: 24px!important;
}

.h-center {
  text-align: center;
}

.price-text {
  font-size: large;
  line-height: 24px;
}

.title {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: orangered;
}

a {
  color: black;
  cursor: pointer;
}

.googlemaps {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: 25px;
}

.label {
  font-family: "Arial Rounded MT Bold";
  font-size: large;
  text-align: justify;
  text-justify: inter-word;
}

.orange {
  color: orangered;
  font-weight: bold;
}

.row {
  width: 100%;
}

.col-xl-4 {
  max-width: 30rem;
}

.col-xl-8 {
  max-width: 60rem;
}

.col-form-label {
  font-size: medium;
}

.description {
  text-align: justify;
}

@media (min-height: 800px) {
  .googlemaps {
    margin-top: 50px;
  }
}
