.spacer{
  flex: 1 1 auto;
}

.navbar{
  border-bottom: 2px solid white;
  margin-bottom: 26rem;
}

.nav-item{
  font-weight: bold;
}

.res{
  color: white;
}

.reservation{
  background: darkolivegreen;
  border-radius: 25px;
  margin-left: 25px;
  color: white;
}

.active-link{
  background-color: rgba(137,133,131,0.5);
  border-radius: 25px;
}

#gallery, #offers, #voucher, #prices, #faq, #aboutus, #reservation, #name {
  color: rgba(255, 255, 255, 1);
}
