.navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  margin: 0 0 15vh 0;
  padding: 8vh 0vh 5vh;
  transition: top 0.8s;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 10%, rgba(0,0,0,0) 100%);
}

.logo {
  width: 9rem;
  height: 6rem;
  object-fit: cover;
  object-position: 0px -15px;
}

.navbar-brand {
  padding-top: 1rem;
  padding-left: 2rem;
}

.navbar-toggler {
  border-color: white;
  border-width: 3px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.spacer{
  flex: 1 1 auto;
}

.nav-item{
  font-weight: bold;
}

.active-link{
  background-color: rgba(137,133,131,0.5);
  border-radius: 25px;
}

#reservation {
  color: rgba(255, 255, 255, 1);
}

#telephone{
  margin-left: 20px;
}

#instagram, #facebook{
  display: inline;
}

@media (min-width: 992px) {
  #reservation {
    background-color: darkolivegreen;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 50px;
  }
}

@media (max-width: 1200px) {
  .navbar-brand{
    padding-left: 3rem;
  }
}

@media (max-width: 991px) {
  .navbar{
    padding-top: 1vh;
    height: 16vh;
  }

  .navbar-toggler {
    margin-right: 2rem;
  }

  .navbar-brand {
    padding-left: 1rem;
    padding-top: 0;
    margin: 0;
    z-index: 1;
  }

  .logo {
    object-position: 0px -5px;
  }

  .navbar-collapse {
    background: white;
    padding-bottom: 1rem;
    z-index: 0;
  }

  .nav-item {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkolivegreen;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .nav-link {
    margin: 4px;
    width: 12rem;
  }

  #gallery, #voucher, #prices, #faq, #contact, #reservation, #name {
    color: darkolivegreen;
    padding-left: 1rem;
  }

  .telephone-container {
    display: none;
  }

  .facebook-icon {
    margin-left: 1rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .instagram-icon {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 768px) {
    .navbar-toggler {
      margin-right: 8rem;
    }

    .navbar-brand {
      padding-left: 7rem;
    }

    .nav-item {
      margin-left: 8rem;
      margin-right: 8rem;
    }
  }
}

.open-animation {
  animation-name: open;
  animation-duration: 0.7s;
}

@keyframes open {
  0% {
    transform: translateY(-350px);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-animation {
  animation-name: close;
  animation-duration: 0.7s;
}

@keyframes close {
  from {transform: translateY(0);}
  to {transform: translateY(-350px);}
}

.margin-for-other-components-below {
  width: 100%;
  height: 30vh;
}
