<app-app-page-title [title]="'Kapcsolat'" [imgPath]="'assets/icon/fah.jpg'"></app-app-page-title>

<h1>
  Elérhetőségeink:
</h1>

<div class="container m-0">
  <ul class="contact">
    <li>
      <div class="row">
        <div class="col-2 label">
          E-mail címünk:
        </div>
        <div class="col-2">
          emailcim@emailcim.hu
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-2 label">
          Telefonszámunk:
        </div>
        <div class="col-2">
          06203657892
        </div>
      </div>
    </li>
  </ul>
</div>

<h1>
  Elhelyezkedés:
</h1>

<agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>

