<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/gallery/house'">HOUSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/gallery/sauna'">SAUNA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/gallery/park'">PARK</a>
        </li>
      </ul>
    </div>
  </div>
</div>
