<div class="container mb-4">
  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/gallery/house'" routerLinkActive="active-link">HOUSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/gallery/sauna'" routerLinkActive="active-link">SAUNA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/gallery/park'" routerLinkActive="active-link">PARK</a>
        </li>
      </ul>
    </div>
  </div>
</div>
