/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.telephone-dialog-container .mat-dialog-container {
  width: 16rem;
  height: 6rem;
  text-align: right;
  background: transparent;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 4rem;
}
