<div class="container-fluid">
  <div class="row pt-4 main-row">
    <!--first column-->
    <div class="col-12 col-md-6 pr-4 pl-4">
      <!--about us-->
      <div class="title">KAPCSOLAT</div>
      <div class="row">
        <span class="col-2">E-mail:</span>
        <a class="description col-9" href="mailto: greenparkeger@gmail.com">greenparkeger@gmail.com</a>
      </div>
      <div class="row mt-1">
        <span class="col-2">Tel.:</span>
        <a class="description col-9" href="tel:+36703765751">+36-70-376-57-51</a>
      </div>
      <!--terms and conditions-->
      <div class="title">ÁSZF</div>
      <div>
        <a class="description" href="/terms-and-conditions" target="_blank">A Sweet Farm Általános felhasználási feltételei</a>
      </div>
      <!--how to get to the place description-->
      <div class="title">MEGKÖZELÍTHETŐSÉG</div>
      <div class="description">
        Eger határától körülbelül másfél kilóméterre található egy csendes kis dombocskán, közel a természethez, csodálatos kilátással a városra.
        A Sweet Farm-ig egész évben és időjárástól függetlenül járható aszfaltozott "tipikus" rossz minőségű magyar út vezet az utolsó egy kilóméteren.
      </div>
    </div>
    <!--second column-->
    <div class="col-12 col-md-6 pr-4 pl-4">
      <div class="title">TÉRKÉP</div>
      <iframe class="map" src="https://maps.google.com/maps?q=47.880152,20.362495&z=12&output=embed" allowfullscreen></iframe>
    </div>
  </div>
</div>
