<head>
  <meta charset="utf-8">
  <title>Payment confirmation email template</title>
</head>
<body>

<p>Kedves {{name}}!</p>
<p>
  Sikeresen megkaptuk a foglalását!
  Az emailhez csatolt fájlban találod a foglalás részleteit. Kérlek, a helyszínre érkezéskor ezt mutasd be nekünk.
</p>
<div>
  Üdvözlettel,
  <div>Sweet Farm</div>
</div>

</body>
