<head>
  <meta charset="utf-8">
  <title>Booking confirmation email template</title>
</head>
<body>
  <h1>Kedves {{name}}!</h1>
  <p>Ezennel foglalását megerősítem.</p>
  <div>
    Üdvözlettel,
    <div>Sweet Farm</div>
  </div>
</body>
