<head>
  <meta charset="utf-8">
  <title>Payment confirmation email template</title>
</head>
<body>

  <h1>Kedves {{name}}!</h1>
  <p>Ezennel fizetését megerősítem.</p>
  <div>
    Üdvözlettel,
    <div>Sweet Farm</div>
  </div>

</body>

