.headerpic {
  width: 100%;
  object-fit:cover;
  height: 100%;
}

.prev-picture{
  transform: scale(1.2);
  width: 100%;
  object-fit:cover;
  height: 100%;
}

.page-title-container{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 40rem;
  width: 100%;
  overflow: hidden;
  transition: all .2s ease;
  vertical-align: middle;
}

.innerDiv{
  text-align: center;
  display: inline-block;
  overflow: hidden;
  transition: all .2s ease;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dark{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headerText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  margin-top: 20rem;
  color: aliceblue;
  text-align: center;
  font-size: 50px;
}

.logo{
  height: 100%;
}
