.wrap{
  display: flex;
  flex-wrap: wrap;
}

img{
  width: 450px;
}

.container{
  border: 3px solid darkolivegreen;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 30px;
}

h2{
  font-size: 35px;
}

button{
  float: right;
  height: 60px;
  width: 120px;
}
