.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(100, 100, 100, 0.7);
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
  z-index: 1020;
}

.carousel-image-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row{
  height: 100%;
}

.col-1, .col-10{
  height: 100%;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.navigation-button{
  cursor: pointer;
}

.carousel-close {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  margin: 2rem;
  cursor: pointer;
}

.carousel-close:focus, .carousel-close:hover {
  border: none;
  outline: none;
  transform: scale(1.3);
}
